* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: rgb(216, 219 ,227);
}
h1 {
    text-align: center;
    margin: .5%;
}
section {
    border-style: solid;
    border-width: 2px;
    padding: 2%;
    margin: 4%;
}
form {
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
}
#format {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: auto;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex-wrap: wrap;
}

#main-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}
#highScore,
#submitScore {
    margin: .5%;
}
#start-game,
#start-game2 {
    padding: 1%;
    margin: 1%;
}
#answer-buttons{
    padding: .5%;
    margin: .5%;
    /* background-color:rgba(113, 64, 153, 0.288) */
}
#score-page {
    padding: .25%;
}
#deleteScorePage {
    display: flex;
    justify-content: center;
}
#scoresHigh {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score-menu-button {
    padding: 1%;
    margin: 1%;
    align-self: center;
}
#score-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#endGame {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#scoreReset,
#mainMenuButton {
    padding: 1%;
    margin: 1%;
}